body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: wheat;
    font-size: 20px;
}

.centered {
    text-align: center;
}

#title {
    font-size: 48px;
    background-color: blanchedalmond;
}

.disclaimer {
    font-style: italic;
    font-size: 16px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}
